@import '../../../index.less';
.order-summary{
    .x-small-screen({
        padding-left: 24px;
        padding-right: 24px;
    });
    .cart-item-image-container{
        .x-small-screen({
            display: none;
        });
    }
    .cart-item-image-mobile{
        display: flex;

        img{
            width: 100px;
            height: 140px;
        }
        .cart-item-name{
            width: 50%;
            font-size: 16px;
            text-align: justify;
            

        }
        .image{
            width: 50%;
        }
        .quantity-input{
            display: inline;
            padding-left: 20px;
        }
    }
    .quantity-container{
        display: flex;
        .x-small-screen({
            margin-top: 16px;
        });
.minus-button{
button{
width: 50px;
margin: 0px;
}
.quantity-left-minus{

}
}
.quantity-input{
width: 70px;
padding-left: 20px;
}
.quantity-right-plus{
width: 50px;
margin: 0px;
}
    }
}

.remove-item-button{
    color: #de2929;;

}