.tc-button-hover-style(
    @hover-color,
    @hover-background-color
) {           
    box-shadow: none;
    outline-color: #00b7ff;;
}
.wa-button{
    font-size: 18px;
    color: #4285f4;
    background: transparent;
    border: none;
    letter-spacing: -0.12px;
    font-family: sans-serif;
    padding: 15px 4px;
    &:hover,
    &:hover:focus,
    &:active,
    &.active,
    &:active:focus,
    &:active:hover,
    &.active:focus,
    &.active:hover,
    &:focus {
        .tc-button-hover-style(#454456, #454456);
    }
}

