@xsmall-screen: 576px;
@small-screen: 768px;
@large-screen: 992px;
@xlarge-screen: 1200px;

@iphoneX-footer-padding-bottom: 126px;
.x-small-screen(@rules) {
    @media (max-width: @xsmall-screen) {
        @rules();
    }
}
.small-screen(@rules) {
    @media (max-width: @small-screen) {
        @rules();
    }
}

.min-small-screen(@rules) {
    @media (min-width: @small-screen) {
        @rules();
    }
}

.max-large-screen(@rules) {
    @media (max-width: @large-screen){
        @rules();
    }
}

.min-large-screen(@rules) {
    @media (min-width: @large-screen) {
        @rules();
    }
}

.min-xlarge-screen(@rules) {
    @media (min-width: @xlarge-screen) {
        @rules();
    }
}

.main{
    .x-small-screen({
        padding-top: 110px;
    });
    padding-top: 90px;
}
.cursor-pointer{
    cursor: pointer;
}
.heading16{
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
body{
    font-family: Roboto,Arial,sans-serif;
}

.heading20{
    font-size: 20px;
    font-weight: 500;
    color: #212121;
    line-height: 26px;
    letter-spacing: -0.12px;
}
.body16{
    font-size: 16px;
    letter-spacing: -0.12px;
    line-height: 22px;
    color: #878787;
    font-weight: 300;
}
.body20{
    font-size: 20px;
    font-weight: 300;
    color: #878787;
    letter-spacing: -0.12px;
    line-height: 26px;
}
.hidden-xs{
    .x-small-screen({
        display: none
    })
}
.green-success{
    font-family: Roboto,Arial,sans-serif;
    color: #388e3c;
    letter-spacing: -.2px;
    font-weight: 500;
}

.visible-xs{
    display: none;
  .x-small-screen({
    display: block;
  })
  }