@import '../../../index.less';
.navbar{
    background: white;
}

.nav-search-container{
    position: relative;
    form{
        max-width: 400px;
        margin: auto auto;
        position: relative;
        /* left: 156px; */
        margin-right: 0px;
        .x-small-screen({
            max-width: 100%
        });
        .small-screen({
            max-width: 100%
        })
    }
    .search-clear{
        background-color: transparent!important;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}
.suggestions-container{
    max-width: 400px;
    margin: auto auto;
    position: absolute;
    /* left: 192px; */
    right: 14px;
    margin-right: 0px;
    /* left: 6%; */
    width: 400px;
    min-height: 30px;
    background: white;
    /* border-left: 1px solid #414141; */
    border: 1px solid #d8d8d8;
    margin-left: auto;
    padding: 10px 0px;
    .x-small-screen({
        width: 100%;
        top: 33px;
        max-width: 100%;
        right: 0px;
    });
    .active{
        background-color: #f5f3f3;;
    }
}

.tl-dropdown-match{
    font-weight: bold;
}
.input-searh{
    padding-right: 40px!important;
  }


  .suggestion-item{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover,
        &:focus {
            background-color: #f5f3f3;;
        }
  }