
.pagination-wrapper * {
    box-sizing: border-box;
}
.pagination-wrapper {
    display: flex;
    justify-content: space-between;

    &.-pagination {
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 3px;
    }
    &.-pagination input,
    &.-pagination select {
        background: white;
        padding: 5px 7px;
        font-size: inherit;
        border-radius: 3px;
        font-weight: normal;
        outline: none;
    }
    &.-pagination .-btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 3px;
        padding: 6px;
        font-size: 1em;
        transition: all 0.1s ease;
        cursor: pointer;
        outline: none;
    }
    &.-pagination .-btn[disabled] {
        opacity: 0.5;
        cursor: default;
    }
    &.-pagination .-previous,
    &.-pagination .-next {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
    }
    &.-pagination .-center {
        -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
        text-align: center;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    &.-pagination .-pageInfo {
        display: inline-block;
        margin: 3px 10px;
        white-space: nowrap;
    }
    &.-pagination .-pageJump {
        display: inline-block;
    }
    &.-pagination .-pageJump input {
        width: 70px;
        text-align: center;
    }
    &.-pagination .-pageSizeOptions {
        margin: 3px 10px;
    }

    .page-info {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 50px;

        @media (min-width: 769px) {
            justify-content: flex-start;
        }
    }

    .pagination-text-light {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.13px;
        line-height: 22px;
        margin-left: 10px;
    }

    .pagination-text-bold {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.13px;
        line-height: 22px;
        margin: 0px 10px;
    }

    .pagination-text-range {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 8px;
        line-height: 22px;
        margin: 0px 15px;
        cursor: pointer;
    }

    .pagination-records {
        margin-left: 0;
        margin-right: 8px;
    }

    .buttom-wrapper,
    .pg-button-wrapper {
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    .pagination-bottom {
        margin-top: 15px;
    }

    .pagination-dropdown {
        *:focus {
            outline: none;
        }
        margin: 0px 0px 0px 1px;
        // width: 17%;
        // min-width: 60px;
        .dropdown-assistive-text {
            .inline-alert-container {
                display: none;
            }
        }
        .dropdown .dropdown-header .dropdown-display {
            border: 0px;
            margin: 0px 16px;
        }
        .dropdown .dropdown-header {
            margin: 44px 0 1px 0;
        }
        .dropdown .dropdown-options .dropdown-options-list {
            overflow: hidden;
        }
        input[type="text"] {
            font-size: 16px;
            font-weight: bold;
        }
        .dropdown-icon {
            left: 0px;
        }
        .dropdown-option span {
            margin-left: -2px;
        }
        @media (max-width: "768px") {
            .dropdown-icon {
                left: 8px;
            }
        }
    }

    @media (max-width: "768px") {
        .pagination-records {
            margin-right: 0;
        }
        .pagination-text-light {
            margin-left: 4px;
        }
        .pagination-text-bold {
            margin: 0px 4px;
        }
        .pagination-dropdown {
            min-width: 55px;
        }
    }

    .pagination-item {
        margin: 0px 8px;
    }
    .pagination-selected {
        text-decoration: none;
        color: red;
    }
.disabled-button{
    color: gray;
}
    .pagination-arrow-active {
        width: 24px;
        height: 24px;
        line-height: 5px;
        margin-top: -3px !important;
    }

    .pagination-arrow-disable {
        width: 24px;
        height: 24px;
        line-height: 5px;
        margin-top: -3px !important;
    }

    .pg-custom-label {
        font-size: 16px !important; // overriding custom label size
    }
    .pg-range-dot {
        margin: -4px 7px;
        text-decoration: none;
        letter-spacing: 3px;
        margin-top: -12px;
        .dropdown-override-example {
            width: auto;
        }
    }
}

@media screen and (max-width: 775px) {
    .pagination-wrapper {
        flex-flow: row-reverse;
        flex-direction: column-reverse;
    }
}
