
.order-success-container{
.success{
    border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;
}
body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
  }
    h1 {
      color: #88B04B;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
      text-align: center;
    }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
    text-align: center;
  }
  .card {
    padding: 100px;
    text-align: center;
  }
}