.container{
    
    font-size: 18px;
    .selected{
        border-bottom: 2px solid #4285f4;
    }
    // .book-detail-block{
    //     .view{
    //         img{
    //             max-width: 205px;
    //             max-height: 260px;
    //         }
    //     }
    // }
    .discount{
        font-family: Roboto,Arial,sans-serif;
        color: #388e3c;
        letter-spacing: -.2px;
        font-weight: 500;
    }
    .button-container{
        display: flex;
        justify-content: space-between;
        .update-button{
            
        }
    }
}