.toggle-button{
  height: 22px;
  width: 30px;
  border:none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
}
.toggle-button:focus{
  outline:none;
}
.toggle-button-line{
  width: 30px;
  height: 2px;
  background-color: black;
}

@media (min-width:768px){
  .toggle-button{
    display: none;
  }
}