.bl{
      width: 60px;
      position: absolute;
      display: block;
      left: 42%;
      top: 45%;
      z-index: 200000;
}


@media screen and (min-width:768px){
      .bl{
            left:50%;
      }
}

.spinner-host{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: #414141;
    opacity: 0.5;
    text-align: center;
    overflow: hidden;
}