
@import '../../../index.less';
.toolbar{
  position:fixed;
 top:0;
 left:0;
 width: 100%;
height:56px;
.x-small-screen({
  height: auto;
});
  background-color:white;
  z-index: 20;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.toolbar-navigation{
  display: flex;
  align-items: center;
  height: 100%;
  padding:0 1rem;
}
.toolbar-logo {
color: white;
font-size: 1.5rem;
cursor: pointer;
padding: 0 1rem;
}

.toolbar-navigation-items ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding:0;
 
}
.toolbar-navigation-items li{
padding: 5px;
}
.toolbar-navigation-items a{
  color:  #d1d5da;
}
.toolbar-navigation-items a:hover{
  color: #ffffff;
}
.spacer{
  flex:1;
}

@media (max-width:768px){
  .toolbar-navigation-items{
    display: none;
  }
}
.navbar-toggler{
  padding-right: 15px;
  padding-left: 0px;
}
.nav-search-container{
  margin-bottom: 18px;
  margin-top: 10px;
  .input-group-text {
    background-color: #4285f4 !important;
  }
  .input-searh{
    padding-right: 40px;
  }
  i{
    color: #ece0e0;
  }
  .search-clear{
    position: absolute;
    right: 47px;
    background-color: transparent!important;
    border-left: none;
    border-right: none;
    border-top: none;
    border: none;
    z-index: 100;
    i{
      color: #878787;
    }
}
}
.input-searh{
  padding-right: 40px;
}

