.mb-toast-container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999;
  }
  
  .mb-toast-top-right {
    top: 96px;
    right: 40px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.1s;
    &.mobile-device {
      right: 24px;
      top: 88px;
    }
  }
  .mb-toast-bottom-right {
    bottom: 12px;
    right: 40px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
  }
  
  .mb-toast-top-left {
    top: 96px;
    left: 40px;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
    &.mobile-device {
      left: 24px;
      top: 88px;
    }
  }
  
  .mb-toast-bottom-left {
    bottom: 12px;
    left: 40px;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
  }
  
  .mb-toast {
    transition: 0.3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 30px;
    margin-bottom: 16px;
    width: 360px;
    max-height: 300px;
    background-position: 15px;
    background-repeat: no-repeat;
    padding: 16px 8px 8px 8px;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    &.mb-toast-action-button {
      height: 92px;
    }
    &.mobile-device {
      width: 272px;
    }
  }
  
  .mb-toast:hover {
    cursor: pointer;
  }
  
  .mb-toast-title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    width: 300px;
    height: 18px;
  }
  
  .mb-toast-message {
    margin: 0;
    text-align: left;
    height: 18px;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #414141;
    line-height: 20px;
    &.mb-toast-long-message {
      height: 40px;
    }
  }
  
  .mb-toast-button {
    margin: 0;
    text-align: left;
    height: 18px;
    margin-left: -1px;
  }
  
  .mb-toast-image {
    position: relative;
    top: -0.3em;
    float: left;
  }
  
  .mb-toast-image svg {
    width: 24px;
    height: 24px;
  }
  
  .mb-toast-container .mb-toast-cross-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    cursor: pointer;
  }
  
  .mb-toast-hide {
    display: none;
  }
  
  .mb-toast-show {
    display: show;
  }
  
  .mb-toast-cross-icon {
    height: 24px;
    width: 24px;
    margin-bottom: -8px;
    vertical-align: baseline;
    font-size: 19px;
    color: grey;
    margin-right: 5px;
  }
  .success{
      i{
          color: green
      }
  }
  .error{
      i{
        color: red
    }
  }
  .mb-toast-left-icon {
    height: 24px;
    width: 24px;
    margin-bottom: -8px;
    margin-right: 5px;
    vertical-align: baseline;
    i{
        top: 4px;
        position: relative;
        margin-right: 5px;
    }
  }
  
  @keyframes toast-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes toast-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  