@import '../../../index.less';
.page-title{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    letter-spacing: -0.12px;
    line-height: 50px;
    font-weight: bold;

}
.page-title-spacing{
    margin-bottom: 40px;
}
.select-your-book-heading{
    margin-bottom: 24px;
}
.wb-landing-page{
    .x-small-screen({
        padding-left: 11px;
        padding-right: 11px;
    });
    .search-result{
        display: flex;
    justify-content: space-between;
    }
    .showing-result-container{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .show-all{
        cursor: pointer;
        color: #4285f4;
        margin-top: 10px;
        white-space: nowrap;
    }
}
.book-container{
    display: flex;
    flex-wrap: wrap;
    .product-col{
        margin-bottom: 16px;
       .x-small-screen({
           width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            border-bottom: 1px solid #d8d8d8;
       })
    }
    .details{
        display: flex;
        flex-direction: column;
        height: 100%;
        .x-small-screen({
            margin-left: 24px;
            width: 50%;
        })
    }
    .book-info{
        display: flex;
        flex-direction: column;
        height: 100%;
        .x-small-screen({
            flex-direction: row;
            padding-bottom: 24px;
        })
    }
}
.heading24{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -0.12px;
    line-height: 30px;
    font-weight: bold;
}

.heading16{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.12px;
    line-height: 22px;
    font-weight: bold;
}

.book-image{
    margin-bottom: 16px;
    .x-small-screen({
        margin-bottom: 0px;
    });
    img{
        height: 206px;
        width: 196px;
        .x-small-screen({
            width: 128px;
            height: 160px;
        })
    }
}

.book-name{
    margin-bottom: 16px;
    

}
.book-price{
}

.body16{
    font-size: 16px;
    letter-spacing: -0.12px;
    line-height: 22px;
    color: #878787;
    font-weight: 300;
}
.margin-top-auto{
    margin-top: auto;
}
.book-detail-block{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: 2px solid transparent;
}

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

    .fade{
        opacity: 12;
    }

    .btn.btn-md{
        white-space: nowrap;
    }


    .sort-by-container{
        width: 250px;
        margin-left: auto;
        margin-bottom: 36px;
        margin-top: 10px;
    }
    .top-title{
        display: flex;
    }
    .view-more-button{
        display: block;
        margin-left: auto;
        margin-right:auto;
    }